.headroom {
    will-change: transform;
    transition: transform 0.3s linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

a{
    cursor: pointer;
}