<header *ngIf="isHeaderVisible" id="header" class="header d-flex align-items-center fixed-top" headroom>
  <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="assets/img/coding_expert.png" alt="">
      <h1 class="sitename">Coding Expert</h1><span>.</span>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="" routerLink="/">Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a href="" routerLink="/service">Services</a></li>
        <li><a href="" routerLink="/portfolio">Portfolio</a></li>
        <li><a href="" routerLink="/pricing">Pricing</a></li>
        <li><a href="" routerLink="/team">Team</a></li>
        <!-- <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
        <li><a href="" routerLink="/contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" href="" routerLink="/about">Get Started</a>

  </div>
</header>