<!-- Hero Section -->
<section id="hero" class="hero section" >

  <img src="assets/img/hero-bg.jpg" alt="" >

  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 >Welcome to Coding Expert</h2>
        <p >We are team of talented Developers</p>
      </div>
      <div class="col-lg-5">
        <form class="sign-up-form d-flex">
          <input type="email" class="form-control" placeholder="Enter email address">
          <input type="submit" class="btn btn-primary" value="Sign up">
        </form>
      </div>
    </div>
  </div>

</section>
<!-- /Hero Section -->